*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-
    gradient(rgba(8, 11, 26, 0.7),rgba(6, 8, 19, 0.7)),url(images/background.png)
    ;
    background-position: center;
    background-size: cover;


}