<!DOCTYPE html>
<html>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <head>
        <title>Value Connection</title>
        <link rel="stylesheet" href="static\styles.css">
    </head>
<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="{{url_for('static', filename='images/vc_logo.jpg')}}"></a>
            <div class="nav-links">
                <ul>
                    <li> <a href="">HOME</a></li>
                    <li> <a href="">EXPLORE</a></li>
                    <li> <a href="">RESULTS</a></li>
                    <li> <a href="">ABOUT</a></li>
                    <li> <a href="">CONTACT</a></li>
                </ul>

            </div>
        </nav>
    </section>
</body>
</html>